<div class="container">
	<footer class="footer">
		<small>
			copyright &copy; <a href="http://visionsbiz-online.com">VBS Business-Tech Solutions</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>